body {
  overflow-x: hidden;
  background-color: #661c07;
  font-family: 'Limelight', cursive;
  color: rgb(255, 208, 0);
}

.navbar {
  background-color: #3a1a10;
  width: auto;
}

.navbar-brand {
  background-color: #4e1b0c;
  padding: 10px;
}

#now-showing {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  text-align: center;
  font-size: 35px;
  background-color: rgb(226, 135, 49);
  border: 7px dotted white;

  border-radius: 10px;
  color: black;
}

.movie-poster img {
  width: 100%;
  cursor: pointer;
  border: 8px solid black;
  background-color: black;
  box-shadow:  -5px 5px 5px 5px rgba(104, 47, 39, 0.411)
}

.row {
  justify-content: center;
  margin-top: 20px;
}

form {
  display: none;
  justify-items: center;
  width: 40vw;
}

#movieName {
  text-align: center;
}

#movieName h4 {
  font-size: 35px;
  width: 40vw;
}

#movieRating {
  text-align: center;
  font-size: 22px;
  color:rgb(253, 178, 15);
}

#movieId {
  display: none;
}

#formContent {
  text-align: center;
}

select {
  background: rgb(253, 184, 55);
  color: #661c07;
}
select option {
  background: rgb(179, 179, 179);
  color: #661c07;
}

#formContent h5 {
  text-align: center;
  font-size: 18px;
}

#formContent label {
  color:rgb(253, 142, 15);
}

#asterisk {
  margin-top: 5px;
  font-size: 10px;
  color:rgb(253, 102, 15);
}

.ticketReturn {
  display: none;
  text-align: center;
}

#tickets-sold h5 {
  display: none;
}

#tickets-sold ul {
  margin-top: 20px;
}
